<header class="header">
    <h1 class="header--logo"><span>Dental</span>Referrals</h1>
    <div class="header--info">
        <div class="info-top">
            <div class="top-left">
                <p>Hello, <span class="bold">Test Practice, post code -
                        ivan+practice@ralabs.org</span></p>
                <span class="thin">Last signed in: 26/01/21, 10:19</span>
            </div>
            <div class="top-right">
                <a class="logout" href="">Sign Out</a>
            </div>
        </div>
        <div class="info-bottom">
            <button class="button--notification">
            </button>
            <div class="select">
                <select name="user-options" id="standard-select">
                    <option value="settings">Settings</option>
                    <option value="cat">Cat</option>
                    <option value="hamster">Hamster</option>
                    <option value="parrot">Parrot</option>
                    <option value="spider">Spider</option>
                    <option value="goldfish">Goldfish</option>
                </select>
                <span class="focus"></span>
            </div>

        </div>
    </div>
</header>