:root {
  --bg-main: #f9fdff;
  --bg-nav: rgba(3, 73, 113, 0.1);
  --black: #000;
  --white: #fff;
  --gray: #ccc;
  --blue: #2f8bb2;
  --blue-dark: #034971;
  --nav-btn-active: rgba(3, 73, 113, 0.5);
}
