:root {
  // FONT STYLES
  --font-size-s: 12rem;
  --font-size-m: 14rem;
  --font-size-l: 20rem;

  // headlines
  --font-size-h1: 24rem;
  --font-size-h1-desktop: 44rem;

  --font-size-h2: 22rem;
  --font-size-h2-desktop: 32rem;
  // $font-size-h3: 28px;
  // $font-size-h3-desktop: 40px;

  // FONT WEIGHT
  --bold: 900;
  --thin: 300;

  // LINKs
}
